In [1]:
import pandas as pd
import requests

Search on google "tmdb api" to get various API releated to movies.

and to get the API Key, go to tmdb api setting and go to API section to get the API key

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,122.779,8.7,18259
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,95.820,8.7,24156
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,68.874,8.6,11022
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,36.855,8.6,4178
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,52.612,8.6,14277

In [17]:
df = pd.DataFrame()

In [18]:
df

Empty DataFrame
Columns: []
Index: []

In [19]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [21]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773
...,...,...,...,...,...,...,...
8546,13805,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",2008-08-29,14.630,3.2,714
8547,5491,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",2000-05-12,10.647,3.0,543
8548,14164,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,2009-03-12,32.244,2.8,1447
8549,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",2003-04-11,14.502,2.8,238
8550,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,2010-02-27,9.824,2.2,215

In [22]:
df.shape

(8551, 7)

In [23]:
df.to_csv('movies.csv')

In [ ]:
## TO get more API's search on rapidapi.com/collection/list-of-free-apis

In [17]:
import requests

url = "https://cricbuzz-cricket.p.rapidapi.com/matches/v1/recent"

headers = {
	"X-RapidAPI-Key": "69147ca6e7msh21770feee6067ecp108e85jsn93a7c6296bb0",
	"X-RapidAPI-Host": "cricbuzz-cricket.p.rapidapi.com"
}

response = requests.get(url, headers=headers)
# response.json()
# df = pd.DataFrame(response.json())

In [20]:
pd.read_json("jsonfile.json")

                                         typeMatches
0  {'matchType': 'International', 'seriesMatches'...
1  {'matchType': 'League', 'seriesMatches': [{'se...
2  {'matchType': 'Domestic', 'seriesMatches': [{'...
3  {'matchType': 'Women', 'seriesMatches': [{'ser...

In [48]:
import requests

url = "https://cricbuzz-cricket.p.rapidapi.com/schedule/v1/international"

headers = {
	"X-RapidAPI-Key": "69147ca6e7msh21770feee6067ecp108e85jsn93a7c6296bb0",
	"X-RapidAPI-Host": "cricbuzz-cricket.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())
df_t = pd.DataFrame(response.json()['matchScheduleMap'])

{'matchScheduleMap': [{'scheduleAdWrapper': {'date': 'SUN, JUL 23 2023', 'matchScheduleList': [{'seriesName': 'The Ashes, 2023', 'matchInfo': [{'matchId': 53364, 'seriesId': 4777, 'matchDesc': '4th Test, Day 5', 'matchFormat': 'TEST', 'startDate': '1690106400000', 'endDate': '1690156799000', 'team1': {'teamId': 9, 'teamName': 'England', 'teamSName': 'ENG', 'isFullMember': True, 'imageId': 172123}, 'team2': {'teamId': 4, 'teamName': 'Australia', 'teamSName': 'AUS', 'isFullMember': True, 'imageId': 172117}, 'venueInfo': {'ground': 'Emirates Old Trafford', 'city': 'Manchester', 'country': 'England', 'timezone': '+01:00'}}], 'seriesId': 4777, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'India tour of West Indies, 2023', 'matchInfo': [{'matchId': 72826, 'seriesId': 6582, 'matchDesc': '2nd Test, Day 4', 'matchFormat': 'TEST', 'startDate': '1690120800000', 'endDate': '1690243199000', 'team1': {'teamId': 10, 'teamName': 'West Indies', 'teamSName': 'WI', 'isFullMember': True, 'imageId': 172124}, 'team2': {'teamId': 2, 'teamName': 'India', 'teamSName': 'IND', 'isFullMember': True, 'imageId': 172115}, 'venueInfo': {'ground': "Queen's Park Oval", 'city': 'Port of Spain, Trinidad', 'country': 'West Indies', 'timezone': '-04:00'}}], 'seriesId': 6582, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup Europe Qualifier 2023', 'matchInfo': [{'matchId': 70842, 'seriesId': 6333, 'matchDesc': '7th Match', 'matchFormat': 'T20', 'startDate': '1690104600000', 'endDate': '1690156799000', 'team1': {'teamId': 532, 'teamName': 'Austria', 'teamSName': 'AUT', 'imageId': 172583}, 'team2': {'teamId': 27, 'teamName': 'Ireland', 'teamSName': 'IRE', 'isFullMember': True, 'imageId': 172141}, 'venueInfo': {'ground': 'Grange Cricket Club', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70845, 'seriesId': 6333, 'matchDesc': '8th Match', 'matchFormat': 'T20', 'startDate': '1690104600000', 'endDate': '1690156799000', 'team1': {'teamId': 527, 'teamName': 'Italy', 'teamSName': 'ITA', 'imageId': 172577}, 'team2': {'teamId': 303, 'teamName': 'Jersey', 'teamSName': 'JER', 'imageId': 172352}, 'venueInfo': {'ground': 'Goldenacre', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70849, 'seriesId': 6333, 'matchDesc': '9th Match', 'matchFormat': 'T20', 'startDate': '1690122600000', 'endDate': '1690156799000', 'team1': {'teamId': 185, 'teamName': 'Denmark', 'teamSName': 'DEN', 'imageId': 172245}, 'team2': {'teamId': 77, 'teamName': 'Germany', 'teamSName': 'GER', 'imageId': 172171}, 'venueInfo': {'ground': 'Grange Cricket Club', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}], 'seriesId': 6333, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup East Asia Pacific Qualifier 2023', 'matchInfo': [{'matchId': 70929, 'seriesId': 6340, 'matchDesc': '3rd Match', 'matchFormat': 'T20', 'startDate': '1690068600000', 'endDate': '1690156799000', 'team1': {'teamId': 547, 'teamName': 'Japan', 'teamSName': 'JPN', 'imageId': 248418}, 'team2': {'teamId': 300, 'teamName': 'Vanuatu', 'teamSName': 'VAN', 'imageId': 172349}, 'venueInfo': {'ground': 'Amini Park', 'city': 'Port Moresby', 'country': 'Papua New Guinea', 'timezone': '+10:00'}}, {'matchId': 70933, 'seriesId': 6340, 'matchDesc': '4th Match', 'matchFormat': 'T20', 'startDate': '1690083000000', 'endDate': '1690156799000', 'team1': {'teamId': 287, 'teamName': 'Papua New Guinea', 'teamSName': 'PNG', 'imageId': 172336}, 'team2': {'teamId': 538, 'teamName': 'Philippines', 'teamSName': 'PHI', 'imageId': 172589}, 'venueInfo': {'ground': 'Amini Park', 'city': 'Port Moresby', 'country': 'Papua New Guinea', 'timezone': '+10:00'}}], 'seriesId': 6340, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}], 'longDate': '1690070400000'}}, {'adDetail': {'name': 'native_news_index_random_1', 'layout': 'native_large', 'position': 1}}, {'scheduleAdWrapper': {'date': 'MON, JUL 24 2023', 'matchScheduleList': [{'seriesName': 'Pakistan tour of Sri Lanka, 2023', 'matchInfo': [{'matchId': 73638, 'seriesId': 6652, 'matchDesc': '2nd Test, Day 1', 'matchFormat': 'TEST', 'startDate': '1690173000000', 'endDate': '1690588799000', 'team1': {'teamId': 5, 'teamName': 'Sri Lanka', 'teamSName': 'SL', 'isFullMember': True, 'imageId': 172119}, 'team2': {'teamId': 3, 'teamName': 'Pakistan', 'teamSName': 'PAK', 'isFullMember': True, 'imageId': 172116}, 'venueInfo': {'ground': 'Sinhalese Sports Club', 'city': 'Colombo', 'country': 'Sri Lanka', 'timezone': '+05:30'}}], 'seriesId': 6652, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'India tour of West Indies, 2023', 'matchInfo': [{'matchId': 72826, 'seriesId': 6582, 'matchDesc': '2nd Test, Day 5', 'matchFormat': 'TEST', 'startDate': '1690207200000', 'endDate': '1690243199000', 'team1': {'teamId': 10, 'teamName': 'West Indies', 'teamSName': 'WI', 'isFullMember': True, 'imageId': 172124}, 'team2': {'teamId': 2, 'teamName': 'India', 'teamSName': 'IND', 'isFullMember': True, 'imageId': 172115}, 'venueInfo': {'ground': "Queen's Park Oval", 'city': 'Port of Spain, Trinidad', 'country': 'West Indies', 'timezone': '-04:00'}}], 'seriesId': 6582, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup Europe Qualifier 2023', 'matchInfo': [{'matchId': 70856, 'seriesId': 6333, 'matchDesc': '10th Match', 'matchFormat': 'T20', 'startDate': '1690191000000', 'endDate': '1690243199000', 'team1': {'teamId': 23, 'teamName': 'Scotland', 'teamSName': 'SCO', 'imageId': 172137}, 'team2': {'teamId': 527, 'teamName': 'Italy', 'teamSName': 'ITA', 'imageId': 172577}, 'venueInfo': {'ground': 'Grange Cricket Club', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70863, 'seriesId': 6333, 'matchDesc': '11th Match', 'matchFormat': 'T20', 'startDate': '1690191000000', 'endDate': '1690243199000', 'team1': {'teamId': 185, 'teamName': 'Denmark', 'teamSName': 'DEN', 'imageId': 172245}, 'team2': {'teamId': 532, 'teamName': 'Austria', 'teamSName': 'AUT', 'imageId': 172583}, 'venueInfo': {'ground': 'Goldenacre', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70866, 'seriesId': 6333, 'matchDesc': '12th Match', 'matchFormat': 'T20', 'startDate': '1690209000000', 'endDate': '1690243199000', 'team1': {'teamId': 303, 'teamName': 'Jersey', 'teamSName': 'JER', 'imageId': 172352}, 'team2': {'teamId': 27, 'teamName': 'Ireland', 'teamSName': 'IRE', 'isFullMember': True, 'imageId': 172141}, 'venueInfo': {'ground': 'Goldenacre', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}], 'seriesId': 6333, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}], 'longDate': '1690156800000'}}, {'scheduleAdWrapper': {'date': 'TUE, JUL 25 2023', 'matchScheduleList': [{'seriesName': 'Pakistan tour of Sri Lanka, 2023', 'matchInfo': [{'matchId': 73638, 'seriesId': 6652, 'matchDesc': '2nd Test, Day 2', 'matchFormat': 'TEST', 'startDate': '1690259400000', 'endDate': '1690588799000', 'team1': {'teamId': 5, 'teamName': 'Sri Lanka', 'teamSName': 'SL', 'isFullMember': True, 'imageId': 172119}, 'team2': {'teamId': 3, 'teamName': 'Pakistan', 'teamSName': 'PAK', 'isFullMember': True, 'imageId': 172116}, 'venueInfo': {'ground': 'Sinhalese Sports Club', 'city': 'Colombo', 'country': 'Sri Lanka', 'timezone': '+05:30'}}], 'seriesId': 6652, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup Europe Qualifier 2023', 'matchInfo': [{'matchId': 70877, 'seriesId': 6333, 'matchDesc': '14th Match', 'matchFormat': 'T20', 'startDate': '1690277400000', 'endDate': '1690329599000', 'team1': {'teamId': 23, 'teamName': 'Scotland', 'teamSName': 'SCO', 'imageId': 172137}, 'team2': {'teamId': 532, 'teamName': 'Austria', 'teamSName': 'AUT', 'imageId': 172583}, 'venueInfo': {'ground': 'Goldenacre', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70873, 'seriesId': 6333, 'matchDesc': '13th Match', 'matchFormat': 'T20', 'startDate': '1690277400000', 'endDate': '1690329599000', 'team1': {'teamId': 527, 'teamName': 'Italy', 'teamSName': 'ITA', 'imageId': 172577}, 'team2': {'teamId': 185, 'teamName': 'Denmark', 'teamSName': 'DEN', 'imageId': 172245}, 'venueInfo': {'ground': 'Grange Cricket Club', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70880, 'seriesId': 6333, 'matchDesc': '15th Match', 'matchFormat': 'T20', 'startDate': '1690295400000', 'endDate': '1690329599000', 'team1': {'teamId': 77, 'teamName': 'Germany', 'teamSName': 'GER', 'imageId': 172171}, 'team2': {'teamId': 303, 'teamName': 'Jersey', 'teamSName': 'JER', 'imageId': 172352}, 'venueInfo': {'ground': 'Grange Cricket Club', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}], 'seriesId': 6333, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup East Asia Pacific Qualifier 2023', 'matchInfo': [{'matchId': 70940, 'seriesId': 6340, 'matchDesc': '5th Match', 'matchFormat': 'T20', 'startDate': '1690241400000', 'endDate': '1690329599000', 'team1': {'teamId': 538, 'teamName': 'Philippines', 'teamSName': 'PHI', 'imageId': 172589}, 'team2': {'teamId': 300, 'teamName': 'Vanuatu', 'teamSName': 'VAN', 'imageId': 172349}, 'venueInfo': {'ground': 'Amini Park', 'city': 'Port Moresby', 'country': 'Papua New Guinea', 'timezone': '+10:00'}}, {'matchId': 70943, 'seriesId': 6340, 'matchDesc': '6th Match', 'matchFormat': 'T20', 'startDate': '1690255800000', 'endDate': '1690329599000', 'team1': {'teamId': 287, 'teamName': 'Papua New Guinea', 'teamSName': 'PNG', 'imageId': 172336}, 'team2': {'teamId': 547, 'teamName': 'Japan', 'teamSName': 'JPN', 'imageId': 248418}, 'venueInfo': {'ground': 'Amini Park', 'city': 'Port Moresby', 'country': 'Papua New Guinea', 'timezone': '+10:00'}}], 'seriesId': 6340, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}], 'longDate': '1690243200000'}}, {'scheduleAdWrapper': {'date': 'WED, JUL 26 2023', 'matchScheduleList': [{'seriesName': 'Pakistan tour of Sri Lanka, 2023', 'matchInfo': [{'matchId': 73638, 'seriesId': 6652, 'matchDesc': '2nd Test, Day 3', 'matchFormat': 'TEST', 'startDate': '1690345800000', 'endDate': '1690588799000', 'team1': {'teamId': 5, 'teamName': 'Sri Lanka', 'teamSName': 'SL', 'isFullMember': True, 'imageId': 172119}, 'team2': {'teamId': 3, 'teamName': 'Pakistan', 'teamSName': 'PAK', 'isFullMember': True, 'imageId': 172116}, 'venueInfo': {'ground': 'Sinhalese Sports Club', 'city': 'Colombo', 'country': 'Sri Lanka', 'timezone': '+05:30'}}], 'seriesId': 6652, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup Asia Qualifier B 2023', 'matchInfo': [{'matchId': 73789, 'seriesId': 6687, 'matchDesc': '1st Match', 'matchFormat': 'T20', 'startDate': '1690336800000', 'endDate': '1690415999000', 'team1': {'teamId': 71, 'teamName': 'Malaysia', 'teamSName': 'MLY', 'imageId': 172168}, 'team2': {'teamId': 524, 'teamName': 'China', 'teamSName': 'CHN', 'imageId': 172574}, 'venueInfo': {'ground': 'Bayuemas Oval', 'city': 'Kuala Lumpur', 'country': 'Malaysia', 'timezone': '+08:00'}}, {'matchId': 73792, 'seriesId': 6687, 'matchDesc': '2nd Match', 'matchFormat': 'T20', 'startDate': '1690351200000', 'endDate': '1690415999000', 'team1': {'teamId': 555, 'teamName': 'Bhutan', 'teamSName': 'BTN', 'imageId': 172607}, 'team2': {'teamId': 565, 'teamName': 'Myanmar', 'teamSName': 'MMR', 'imageId': 172617}, 'venueInfo': {'ground': 'Bayuemas Oval', 'city': 'Kuala Lumpur', 'country': 'Malaysia', 'timezone': '+08:00'}}], 'seriesId': 6687, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup East Asia Pacific Qualifier 2023', 'matchInfo': [{'matchId': 70947, 'seriesId': 6340, 'matchDesc': '7th Match', 'matchFormat': 'T20', 'startDate': '1690327800000', 'endDate': '1690415999000', 'team1': {'teamId': 287, 'teamName': 'Papua New Guinea', 'teamSName': 'PNG', 'imageId': 172336}, 'team2': {'teamId': 300, 'teamName': 'Vanuatu', 'teamSName': 'VAN', 'imageId': 172349}, 'venueInfo': {'ground': 'Amini Park', 'city': 'Port Moresby', 'country': 'Papua New Guinea', 'timezone': '+10:00'}}, {'matchId': 70954, 'seriesId': 6340, 'matchDesc': '8th Match', 'matchFormat': 'T20', 'startDate': '1690342200000', 'endDate': '1690415999000', 'team1': {'teamId': 538, 'teamName': 'Philippines', 'teamSName': 'PHI', 'imageId': 172589}, 'team2': {'teamId': 547, 'teamName': 'Japan', 'teamSName': 'JPN', 'imageId': 248418}, 'venueInfo': {'ground': 'Amini Park', 'city': 'Port Moresby', 'country': 'Papua New Guinea', 'timezone': '+10:00'}}], 'seriesId': 6340, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}], 'longDate': '1690329600000'}}, {'adDetail': {'name': 'native_news_index_random_2', 'layout': 'native_large', 'position': 4}}, {'scheduleAdWrapper': {'date': 'THU, JUL 27 2023', 'matchScheduleList': [{'seriesName': 'ICC Mens T20 World Cup Europe Qualifier 2023', 'matchInfo': [{'matchId': 70887, 'seriesId': 6333, 'matchDesc': '16th Match', 'matchFormat': 'T20', 'startDate': '1690450200000', 'endDate': '1690502399000', 'team1': {'teamId': 23, 'teamName': 'Scotland', 'teamSName': 'SCO', 'imageId': 172137}, 'team2': {'teamId': 185, 'teamName': 'Denmark', 'teamSName': 'DEN', 'imageId': 172245}, 'venueInfo': {'ground': 'Grange Cricket Club', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70894, 'seriesId': 6333, 'matchDesc': '17th Match', 'matchFormat': 'T20', 'startDate': '1690450200000', 'endDate': '1690502399000', 'team1': {'teamId': 27, 'teamName': 'Ireland', 'teamSName': 'IRE', 'isFullMember': True, 'imageId': 172141}, 'team2': {'teamId': 77, 'teamName': 'Germany', 'teamSName': 'GER', 'imageId': 172171}, 'venueInfo': {'ground': 'Goldenacre', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}, {'matchId': 70898, 'seriesId': 6333, 'matchDesc': '18th Match', 'matchFormat': 'T20', 'startDate': '1690468200000', 'endDate': '1690502399000', 'team1': {'teamId': 527, 'teamName': 'Italy', 'teamSName': 'ITA', 'imageId': 172577}, 'team2': {'teamId': 532, 'teamName': 'Austria', 'teamSName': 'AUT', 'imageId': 172583}, 'venueInfo': {'ground': 'Goldenacre', 'city': 'Edinburgh', 'country': 'Scotland', 'timezone': '+01:00'}}], 'seriesId': 6333, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'The Ashes, 2023', 'matchInfo': [{'matchId': 53366, 'seriesId': 4777, 'matchDesc': '5th Test, Day 1', 'matchFormat': 'TEST', 'startDate': '1690452000000', 'endDate': '1690847999000', 'team1': {'teamId': 9, 'teamName': 'England', 'teamSName': 'ENG', 'isFullMember': True, 'imageId': 172123}, 'team2': {'teamId': 4, 'teamName': 'Australia', 'teamSName': 'AUS', 'isFullMember': True, 'imageId': 172117}, 'venueInfo': {'ground': 'Kennington Oval', 'city': 'London', 'country': 'England', 'timezone': '+01:00'}}], 'seriesId': 4777, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'India tour of West Indies, 2023', 'matchInfo': [{'matchId': 72833, 'seriesId': 6582, 'matchDesc': '1st ODI', 'matchFormat': 'ODI', 'startDate': '1690464600000', 'endDate': '1690502399000', 'team1': {'teamId': 10, 'teamName': 'West Indies', 'teamSName': 'WI', 'isFullMember': True, 'imageId': 172124}, 'team2': {'teamId': 2, 'teamName': 'India', 'teamSName': 'IND', 'isFullMember': True, 'imageId': 172115}, 'venueInfo': {'ground': 'Kensington Oval', 'city': 'Bridgetown, Barbados', 'country': 'West Indies', 'timezone': '-04:00'}}], 'seriesId': 6582, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'Pakistan tour of Sri Lanka, 2023', 'matchInfo': [{'matchId': 73638, 'seriesId': 6652, 'matchDesc': '2nd Test, Day 4', 'matchFormat': 'TEST', 'startDate': '1690432200000', 'endDate': '1690588799000', 'team1': {'teamId': 5, 'teamName': 'Sri Lanka', 'teamSName': 'SL', 'isFullMember': True, 'imageId': 172119}, 'team2': {'teamId': 3, 'teamName': 'Pakistan', 'teamSName': 'PAK', 'isFullMember': True, 'imageId': 172116}, 'venueInfo': {'ground': 'Sinhalese Sports Club', 'city': 'Colombo', 'country': 'Sri Lanka', 'timezone': '+05:30'}}], 'seriesId': 6652, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}, {'seriesName': 'ICC Mens T20 World Cup Asia Qualifier B 2023', 'matchInfo': [{'matchId': 73799, 'seriesId': 6687, 'matchDesc': '3rd Match', 'matchFormat': 'T20', 'startDate': '1690423200000', 'endDate': '1690502399000', 'team1': {'teamId': 524, 'teamName': 'China', 'teamSName': 'CHN', 'imageId': 172574}, 'team2': {'teamId': 384, 'teamName': 'Thailand', 'teamSName': 'THAI', 'imageId': 172437}, 'venueInfo': {'ground': 'Bayuemas Oval', 'city': 'Kuala Lumpur', 'country': 'Malaysia', 'timezone': '+08:00'}}, {'matchId': 73806, 'seriesId': 6687, 'matchDesc': '4th Match', 'matchFormat': 'T20', 'startDate': '1690437600000', 'endDate': '1690502399000', 'team1': {'teamId': 71, 'teamName': 'Malaysia', 'teamSName': 'MLY', 'imageId': 172168}, 'team2': {'teamId': 555, 'teamName': 'Bhutan', 'teamSName': 'BTN', 'imageId': 172607}, 'venueInfo': {'ground': 'Bayuemas Oval', 'city': 'Kuala Lumpur', 'country': 'Malaysia', 'timezone': '+08:00'}}], 'seriesId': 6687, 'seriesHomeCountry': 1, 'seriesCategory': 'International'}], 'longDate': '1690416000000'}}], 'startDt': ['1689760800000', '1689861600000', '1690104600000', '1690104600000', '1690122600000', '1690068600000', '1690083000000', '1690191000000', '1690191000000', '1690209000000', '1690173000000', '1690277400000', '1690277400000', '1690295400000', '1690241400000', '1690255800000', '1690327800000', '1690342200000', '1690336800000', '1690351200000', '1690452000000', '1690450200000', '1690450200000', '1690468200000', '1690464600000', '1690423200000', '1690437600000', '1690536600000', '1690536600000', '1690554600000', '1690500600000', '1690515000000', '1690509600000', '1690587000000', '1690601400000', '1690637400000', '1690682400000', '1690696800000', '1690768800000', '1690783200000', '1690896600000', '1690855200000', '1691073000000', '1691332200000', '1691505000000', '1691850600000', '1691937000000', '1692280800000', '1692367200000', '1692453600000', '1692540000000', '1692540000000', '1692799200000', '1693414800000', '1693411200000', '1693389600000', '1693470600000', '1693587600000', '1693584000000', '1693643400000', '1693747800000', '1693742400000', '1693735200000', '1693816200000', '1693933200000', '1693908000000', '1693994400000', '1694084400000', '1694172600000', '1694257200000', '1694248200000', '1694340000000', '1694334600000', '1694516400000', '1694507400000', '1694604600000', '1694680200000', '1694777400000', '1694775600000', '1694766600000', '1694937600000', '1694939400000', '1695209400000', '1695276000000', '1695463200000', '1695448800000', '1695727800000', '1695708000000', '1696494600000', '1696581000000', '1696654800000', '1696667400000', '1696753800000', '1696840200000', '1696926600000', '1697013000000', '1697099400000', '1697185800000', '1697259600000', '1697272200000', '1697358600000', '1697445000000', '1697531400000', '1697617800000', '1697704200000', '1697790600000', '1697877000000', '1697864400000', '1697963400000', '1698049800000', '1698136200000', '1698222600000', '1698309000000', '1698395400000', '1698469200000', '1698481800000', '1698568200000', '1698654600000', '1698741000000', '1698827400000', '1698913800000', '1699000200000', '1699086600000', '1699074000000', '1699173000000', '1699259400000', '1699345800000', '1699432200000', '1699518600000', '1699605000000', '1699691400000', '1699777800000', '1699765200000', '1700037000000', '1700123400000', '1700382600000', '1700710200000', '1701142200000', '1701612000000', '1701871200000', '1701833400000', '1702130400000', '1702224000000', '1702411200000', '1702396800000', '1702584000000', '1702520400000', '1702569600000', '1702756800000', '1702800000000', '1702764000000', '1703016000000', '170298360000

In [49]:
df_t

,scheduleAdWrapper,adDetail
0,"{'date': 'SUN, JUL 23 2023', 'matchScheduleLis...",NaN
1,NaN,"{'name': 'native_news_index_random_1', 'layout..."
2,"{'date': 'MON, JUL 24 2023', 'matchScheduleLis...",NaN
3,"{'date': 'TUE, JUL 25 2023', 'matchScheduleLis...",NaN
4,"{'date': 'WED, JUL 26 2023', 'matchScheduleLis...",NaN
5,NaN,"{'name': 'native_news_index_random_2', 'layout..."
6,"{'date': 'THU, JUL 27 2023', 'matchScheduleLis...",NaN