In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
import os
desktop = os.path.expanduser("~/Desktop")
df = pd.read_csv(desktop+"/Machine-Learning/Step By Step Process/5. ML Models/2. Supervised Learning/Dataset/Advertising/Advertising.csv")
df.drop(df.columns[[0]],axis = 1,inplace=True)
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [29]:
X = df.iloc[:,0].values
y = df.iloc[:,-1].values

In [36]:
class MyLRClass:
    def __init__(self):
        self.m = None
        self.b = None
    def fit(self,X_train,y_train):
        n = 0
        d = 0
        for i in range(0,len(X_train)):
            n = n + ((X_train[i]-X_train.mean()) * (y_train[i]-y_train.mean()))
            d = d + ((X_train[i]-X_train.mean())**2)
        self.m = n/d
        self.b = y_train.mean() - (self.m * X_train.mean())
        print("Slope: ",self.m)
        print("Intercept: ",self.b)
    def predict(self,x):
        return (self.m * x) + self.b

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=100)

In [38]:
lr = MyLRClass()
lr.fit(X_train,y_train)

Slope:  0.046109756478555315
Intercept:  7.113008222196275

In [42]:
lr.predict(300)

20.94593516576287